<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PurchasingConnectionString" connectionString="Data Source=.;Initial Catalog=Purchasing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>